 <template>
    <form @submit.prevent="onSubmit">

        <span v-if="errors">
            <b>Please correct the following error(s):</b>
            <ul class="help is-danger">
                <li v-for="error in errors">{{ error[0] }}</li>
            </ul>
        </span>


        <div class="field">
            <div class="control">
                <label for="title" class="col-sm-4 control-label">Title</label>
                <div class="col-sm-6 row">
                    <input class="input" type="title" placeholder="enter title..." v-model="title">
                    <span v-if="errors.title" :class="['help is-danger']">{{ errors.title[0] }}</span>
                </div>
                <label for="title_fr" class="col-sm-4 control-label">Title French</label>
                <div class="col-sm-6 row">
                    <input class="input" type="title_fr" placeholder="enter title french..." v-model="title_fr">
                    <span v-if="errors.title_fr" :class="['help is-danger']">{{ errors.title_fr[0] }}</span>
                </div>
                <label for="brand" class="col-sm-4 control-label">Brand</label>
                <div class="col-sm-6 row">
                    <input class="input" type="brand" placeholder="enter brand..." v-model="brand">
                    <span v-if="errors.brand" :class="['help is-danger']">{{ errors.brand[0] }}</span>
                </div>
                <label for="condition" class="col-sm-4 control-label">Condition</label>
                <div class="col-sm-6 row">
                    <input class="input" type="condition" placeholder="enter condition..." v-model="condition">
                    <span v-if="errors.condition" :class="['help is-danger']">{{ errors.condition[0] }}</span>
                </div>
                <label for="status" class="col-sm-4 control-label">Status</label>
                <div class="col-sm-6 row">
                    <input class="input" type="status" placeholder="enter status..." v-model="status">
                    <span v-if="errors.status" :class="['help is-danger']">{{ errors.status[0] }}</span>
                </div>
                <label for="quantity_available" class="col-sm-4 control-label">Quantity Available</label>
                <div class="col-sm-6 row">
                    <input class="input" type="quantity_available" placeholder="enter quantity available..." v-model="quantity_available">
                    <span v-if="errors.quantity_available" :class="['help is-danger']">{{ errors.quantity_available[0] }}</span>
                </div>
                <label for="quantity_sold" class="col-sm-4 control-label">Quantity Sold</label>
                <div class="col-sm-6 row">
                    <input class="input" type="quantity_sold" placeholder="enter quantity sold..." v-model="quantity_sold">
                    <span v-if="errors.quantity_sold" :class="['help is-danger']">{{ errors.quantity_sold[0] }}</span>
                </div>
                <label for="sku" class="col-sm-4 control-label">Sku</label>
                <div class="col-sm-6 row">
                    <input class="input" type="sku" placeholder="enter sku..." v-model="sku">
                    <span v-if="errors.sku" :class="['help is-danger']">{{ errors.sku[0] }}</span>
                </div>
            </div>
        </div>
        <button class="button is-primary" v-bind:class="{ 'is-loading' : isLoading }">Create Product</button>
    </form>
</template>

<script>
import axios from 'axios'
import { API_BASE_URL } from '../config'

export default {
    data() {
        return {
            title: '',
            title_fr: '',
            brand: '',
            condition: '',
            status: '',
            quantity_available: '',
            quantity_sold: '',
            sku: '',
            errors: '',
            isLoading: false,
        }
    },
    created () {
        this.setup()
    },
    watch: {
        // Everytime the route changes, check for auth status
        '$route': 'isAuthenticated'
    },
    methods: {
        async setup () {
            this.claims = await this.$auth.getUser()
        },
        async isAuthenticated () {
            this.authenticated = await this.$auth.isAuthenticated()
        },
        onSubmit() {
            this.isLoading = true
            this.addProduct()
            // eslint-disable-next-line no-console
        },
        async addProduct() {
            // clear error on subit
            this.errors = ''
            
            axios.defaults.headers.common['Authorization'] = `Bearer ${await this.$auth.getAccessToken()}`
            axios.post(`${API_BASE_URL}/product`, this.$data)
                .then(response => {
                    this.title = ''
                    this.title_fr = ''
                    this.brand = ''
                    this.condition = ''
                    this.status = ''
                    this.quantity_available = ''
                    this.quantity_sold = ''
                    this.sku = ''
                    this.claims = ''
                    this.isLoading = false
                    this.$emit('completed', response.data.data)
                })
                .catch(error => {
                    // handle authentication and validation errors here
                    this.errors = error.response.data.errors
                    this.isLoading = false
                })
        }
    }
}
</script>